.bioContent {
   color: #060606;
   background-color: #ffc600;
}

.bioBackground {
   background-color: aliceblue!important;
   border-radius: 16px;
   padding: 30px;

}

.bioTitle {
   background-color: #ffc600;
   color: #060606;
   width: 40px;
   margin: 0 auto;
   display: flex;
   margin-left: 902px;
   margin-bottom: 50px;
}

.bioContent::-moz-selection { /* Code for Firefox */
   color: #ffc600;
   background: #060606;
 }

 .bioTitle::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }

@media (max-width: 768px) {
   .bioTitle {
      margin: 0 auto;
      display: flex;
      width: 35px;
      margin-left: 100px;
   }

   .bioContent::-moz-selection { /* Code for Firefox */
      color: #ffc600;
      background: #060606;
    }

   .bioContent {
      font-size: 1rem;
      margin-bottom: 50px;
   }

   .bioBackground {
      padding-left: 10px;
      padding-right: 0;
   }
}
