html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-style: italic;
  line-height: 1.6;
  font-size: 20px;
  background-color: #060606;
  margin-left: 20px;
  margin-right: 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
   font-size: 2.5rem;
   line-height: 0.75;
   font-weight: 800;
   letter-spacing: 0.15rem;
   margin: 1rem 0;
   color: #fff;
   margin-left: -265px;
}

h1::-moz-selection {
   background-color: #ffffff;
   color: #060606;
}


mark {
   background-color: #ffc600 ;
}

mark::-moz-selection {
   background-color: #060606;
   color:#ffc600;
}

@media (max-width: 768px) {
   h1 {
      font-size: 2rem;
      line-height: 1;
      font-weight: 800;
      letter-spacing: 0.15rem;
      margin: 1rem 0;
      color: #fff;
      margin-left: 2.5rem;
   }

   html, body{
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
   }

   h1 {
      margin-left: 0;
   }
}
