.stacksTitle {
   background-color: #ffc600;
   color: #060606;
   width: 170px;
   margin: 0 auto;
   display: flex;
   margin-left: 899px;
   margin-top: 50px;
   margin-bottom: 50px;
   justify-content: center;
}

.stacksBackground {
   background-color: aliceblue!important;
   border-radius: 16px;
   padding: 1px 10px 30px 30px;
   margin-top: 15px;
}

.stacksContent {
   color: #060606;
   background-color: #ffc600;
}

.stacksContentFramework {
   color: #060606;
   background-color: #ffc600;
   margin-top: 20px;
   margin-left: 90px;
}

.stacksContentFrontEnd {
   color: #060606;
   background-color: #ffc600;
   margin-top: 20px;
   margin-left: 90px;
}

.stacksContentBackEnd {
   color: #060606;
   background-color: #ffc600;
   margin-top: 20px;
   margin-left: 90px;
}

.stacksContentDataBase {
   color: #060606;
   background-color: #ffc600;
   margin-top: 20px;
   margin-left: 90px;
}

.stacksContentDesign {
   color: #060606;
   background-color: #ffc600;
   margin-top: 20px;
   margin-left: 90px;
}

.stacksContent::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }

 .stacksContentFramework::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }

 .stacksContentBackEnd::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }

 .stacksContentFrontEnd::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }

 .stacksContentDataBase::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }

 .stacksContentDesign::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }

.stacksTitle::-moz-selection {
   color: #ffc600;
   background-color: #060606;
 }


 @media (max-width: 768px) {
   .stacksTitle {
      margin: 0 auto;
      display: flex;
      width: 140px;
   }

   .stacksContent::-moz-selection { /* Code for Firefox */
      color: #ffc600;
      background: #060606;
    }

   .stacksContent {
      font-size: 0.7rem;
      margin-bottom: 50px;
      margin-left: 0;

   }
   .stacksContentBackEnd {
      font-size: 0.70rem;
      margin-bottom: 50px;
      margin-left: 0;
      margin-top: 10px;
   }
   .stacksContentFramework {
      font-size: 0.70rem;
      margin-bottom: 50px;
      margin-left: 0;
   }
   .stacksContentFrontEnd {
      font-size: 0.70rem;
      margin-bottom: 50px;
      margin-left: 0;
   }
   .stacksContentDataBase {
      font-size: 0.70rem;
      margin-bottom: 50px;
      margin-left: 0;
   }
   .stacksContentDesign {
      font-size: 0.7rem;
      margin-bottom: 50px;
      margin-left: 0;
   }

   .stacksBackground {
      padding-left: 10px;
      padding-right: 0;
   }
}
