.heading2Xl {
   font-size: 2.5rem;
   line-height: 0.75;
   font-weight: 800;
   letter-spacing: 0.15rem;
   margin: 3rem 1rem 0;
   color: #fff;
   margin-left: -675px;
 }

 .headingXl {
   font-size: 2rem;
   line-height: 1.3;
   font-weight: 800;
   letter-spacing: -0.05rem;
   margin: 1rem 0;
 }

 .headingLg {
   font-size: 1.5rem;
   line-height: 1.4;
   margin: 1rem 0;
 }

 .headingMd {
   font-size: 1.2rem;
   line-height: 0.5;
 }

 .borderCircle {
   border-radius: 9999px;
 }

 .colorInherit {
   color: inherit;
 }

 .padding1px {
   padding-top: 1px;
 }

 .list {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .listItem {
   margin: 0 0 1.25rem;
 }

 .lightText {
   color: #666;
 }

 .navbar ul li {
   color: #fff;
   display: inline;
   list-style-type: none;
   text-align: end;
   margin-left: 20px;
   margin-right: 45px;
 }

 .navbar {
   display: flex;
   justify-content: flex-end;
   background-color: #060606;
   width: 100%;
   cursor: pointer;

 }

 .navbar ul li:active {
   color: #060606;
   background-color: #ffc600 ;
   animation: forwards;
 }

 @media (max-width:768px) {
   .navbar {
      display: none;
   }
  }

  @media (max-width: 768px) {
   .heading2Xl {
      font-size: 2.5rem;
      line-height: 0.75;
      font-weight: 800;
      letter-spacing: 0.15rem;
      margin: 4rem 3rem 0;
      color: #fff;
      width: fit-content;
      margin-bottom: 1rem;
    }

    .secondp {
      margin-top: -13px;
    }

  }
